body{
    background: url(../images/dinbg.jpg);
    background-repeat: repeat;
    background-blend-mode: lighten;
}

#title{
    text-align: center;
    font-size: 40PX;
    color: mediumblue;
    
}

#press{
    text-align: center;
    font-size: large;
    color:RED;
}

#wordBlank{
    text-align: center;
    margin-top: 120SApx;
    color: mediumblue;
    font-size: 50px;
    font-weight: bolder;
}

#win{
    text-align: center;
    margin-top: 160px;
    color: white;

}

#tries{
    text-align: center;
    margin-top: 100px;
    color: white;
}

#hint{
    text-align: center;
    color: white;
}

#box {
    border: solid;
    border-style: dashed;
    border-color: darkmagenta;
    margin-top: 100px;
    margin-left: 600px;
    margin-right: 600px;
    border-radius: 10px;
    
}

#copyright{
    text-align: center;
    color:white;
}